<mat-nav-list>
    <ng-container *ngFor="let l of links">
        <a
            mat-list-item
            [href]="l.href"
            target="_blank"
            *ngIf="l.isLink"
        >
            <mat-icon>{{ l.icon }}</mat-icon>
            {{ l.name }}
        </a>
        <a
            mat-list-item
            [routerLink]="l.href"
            *ngIf="!l.isLink"
        >
            <mat-icon>{{ l.icon }}</mat-icon>
            {{ l.name }}
        </a>
    </ng-container>
</mat-nav-list>