<h1>About</h1>
<p>Hi, I'm Keritial (formerly called O7I2).</p>
<p>Hmmm... What can I say..? Hey there?</p>
<h2>Interests</h2>
<p>Planned to learn Web technologies, Rust and more.</p>
<p>Playing Minecraft and Arknights.</p>
<h2>Preferences</h2>
<p>Theme colour: #00AEFF</p>
<h2>Contact me</h2>
<p>Here're some ways to get in touch with me <del>though nobody may would like to do that :/</del></p>
<p>Twitter: <a href="https://twitter.com/Keritial">@Keritial</a> <br>Discord: Keritial#0712 <br>Telegram: <a href="https://t.me/Keritial">@Keritial</a> <br>E-mail: <a href="mailto:a@krtl.top">a@krtl.top</a></p>
