:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#drawer {
	min-width: 320px;
	/* Disable scroll chaining */
	overscroll-behavior: contain;
}

#drawer-container {
	flex-grow: 1;
}

#content {
	height: 100%;
	padding: 16px;
}

.spacer {
	flex: 1;
}
