<!-- Unlike what angular.io did to app bar,
	 I personally prefers to display grey for it
	 as well as background.
	 
	 Maybe I can achieve this in a pure CSS way? -->
<mat-toolbar [color]="(layout.isDark$ | async) ? '' : 'primary'">
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<header>Keritial</header>
	<div class="spacer"></div>
	<button mat-icon-button>
		<mat-icon>more_horiz</mat-icon>
	</button>
</mat-toolbar>
<mat-sidenav-container id="drawer-container">
	<mat-sidenav-content id="content-container">
		<div id="content">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
	<mat-sidenav
		#drawer
		id="drawer"
		[mode]="(layout.isLarge$ | async) ? 'side' : 'over'"
		[opened]="layout.isLarge$ | async"
	>

	</mat-sidenav>
</mat-sidenav-container>
