:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#toolbar {
	contain: strict;
}

#drawer {
	min-width: 320px;
	contain: content;
	overscroll-behavior: contain;
}

#container {
	contain: strict;
	flex-grow: 1;
}

#content {
	contain: strict;
}

#content-warp {
	contain: strict;
	overflow: scroll;
	height: 100%;
	padding: 16px;
}

.spacer {
	flex: 1;
}

.indicator {
	position: absolute;
	z-index: 1;
}