// Copied and modified from https://github.com/TheNightmareX/tasked/blob/develop/projects/client/src/styles/_themes.scss

@use "@angular/material" as mat;
@use "sass:map" as map;
@use "./shared" as shared;

$typography-base: mat.define-typography-config(
	$font-family: shared.$font-family,
);

$theme-base: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette(mat.$grey-palette),
			accent: mat.define-palette(mat.$grey-palette),
		),
		typography: $typography-base,
	)
);

$color-primary: mat.$light-blue-palette;

$color-accent: mat.$blue-palette;

$theme-light: mat.define-light-theme(
	(
		color: (
			primary: mat.define-palette($color-primary, 500),
			accent: mat.define-palette($color-accent, A400),
		),
	)
);

$theme-dark: mat.define-dark-theme(
	(
		color: (
			primary: mat.define-palette($color-primary, 200),
			accent: mat.define-palette($color-accent, A400),
		),
	)
);
// use colors from Material spec
$theme-dark: map.deep-merge(
	$theme-dark,
	(
		color: (
			background: (
				background: #121212,
				card: #1d1d1d,
			),
		),
	)
);
