@use "@angular/material" as mat;

@use "./shared" as shared;
@use "./theme" as theme;

@import "./material-patches";
@import "./normalize.css";
@import "./material-icons.css";

html,
body {
	height: 100%;
}

body {
	font-family: shared.$font-family;
	overscroll-behavior: contain;
	/* Non-standard, Chrome and Safari only */
	-webkit-tap-highlight-color: transparent;
}

/* CSS is awesome */
* {
	box-sizing: border-box;
}

@include mat.core();

@include mat.all-component-themes(theme.$theme-base);

@include mat.all-component-colors(theme.$theme-light);

@media (prefers-color-scheme: dark) {
	@include mat.all-component-colors(theme.$theme-dark);
}