@use "@angular/material" as mat;
@use "material-patches";
@use "shared" as shared;
@use "theme" as theme;

@import "./normalize.css";


html,
body {
	height: 100%;
	overscroll-behavior: none;
}

body {
	font-family: shared.$font-family;
	/* Non-standard, Chrome and Safari only */
	-webkit-tap-highlight-color: transparent;
}

/* CSS is awesome */
* {
	box-sizing: border-box;
}

@include mat.core();

@include mat.all-component-themes(theme.$theme-base);

@include mat.all-component-colors(theme.$theme-light);

@media (prefers-color-scheme: dark) {
	@include mat.all-component-colors(theme.$theme-dark);
}
