<!-- Unlike what other apps like
	 angular.io did to app bar,
	 I personally prefers to display 
	 a grey background for it.
	 
	 Maybe I can achieve this in pure CSS way? -->
<mat-toolbar [color]="(layout.isDark$ | async) ? '' : 'primary'" id="toolbar">
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<header>Keritial</header>
	<!--
	<div class="spacer"></div>
	<button mat-icon-button>
		<mat-icon>more_horiz</mat-icon>
	</button>
	-->
</mat-toolbar>
<mat-sidenav-container id="container">
	<mat-sidenav-content id="content">
		<div id="content-warp">
			<ng-content></ng-content>
		</div>
	</mat-sidenav-content>
	<mat-sidenav
		#drawer
		id="drawer"
		[mode]="(layout.isLarge$ | async) ? 'side' : 'over'"
		[opened]="layout.isLarge$ | async"
	>
		<mat-nav-list>
			<ng-container *ngFor="let it of links">
				<a mat-list-item [href]="it.href" target="_blank" *ngIf="it.isLink">
					<mat-icon>{{ it.icon }}</mat-icon>
					{{ it.name }}
				</a>
				<a mat-list-item [routerLink]="it.href" *ngIf="!it.isLink" (click)="navigate$.emit(it.href ?? '')">
					<mat-icon>{{ it.icon }}</mat-icon>
					{{ it.name }}
				</a>
			</ng-container>
		</mat-nav-list>
		<!--button mat-button (click)="g()">Generate placeholders</button-->
	</mat-sidenav>
</mat-sidenav-container>
