:root {
	height: 100%;
}

.control {
	display: flex;
	gap: 15px;
	margin-bottom: 25px;
}

.textarea {
	display: flex;
	gap: 25px;
	flex-direction: column;

	mat-form-field {
		width: 100%;
		textarea {
			resize: none;
		}
	}
}

.large {
	.textarea {
		flex-direction: row;

		mat-form-field {
			textarea {
				height: 10vh;
			}
		}
	}
}
