<h1>Base64</h1>
<p>Decode or encode Base64 strings. UTF-8 supported.</p>

<div style="display: flex; gap: 15px; margin-bottom: 25px">
	<button mat-button (click)="reverse = !reverse" style="flex-grow: 1">Reverse</button>
	<!-- <div style="flex-grow: 1; display: flex">
		<div [style.order]="reverse ? '3' : '1'">Original</div>
		<mat-icon style="order: 2"></mat-icon>
		<div [style.order]="reverse ? '1' : '3'">Base64</div>
	</div> -->
	<!-- <div style="flex: 1"></div> -->
	<button mat-raised-button color="primary" (click)="convert()">Convert</button>
</div>

<div style="display: flex; gap: 25px; flex-direction: column">
	<mat-form-field style="order: 2">
		<mat-label>Original</mat-label>
		<textarea matInput placeholder="Type here..." [readonly]="reverse" [(ngModel)]="original"></textarea>
		<button *ngIf="reverse" matSuffix mat-icon-button [cdkCopyToClipboard]="original">
			<mat-icon>content_copy</mat-icon>
		</button>
	</mat-form-field>
	<mat-form-field [style.order]="reverse ? '1' : '3'">
		<mat-label>Base64</mat-label>
		<textarea matInput placeholder="VHlwZSBoZXJlLi4u" [readonly]="!reverse" [(ngModel)]="encoded"></textarea>
		<button *ngIf="!reverse" matSuffix mat-icon-button [cdkCopyToClipboard]="encoded">
			<mat-icon>content_copy</mat-icon>
		</button>
	</mat-form-field>
</div>
